
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Actual Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet">
</head>
<header class="header">
    <h1 class="logo"><a href="/post">Home</a></h1>
    <ul class="main-nav">
        
        <%categories.forEach(category=>{%>
            <li><a id="cats" href='/post/cat/<%=category._id%>'><%=category.name%></a></li>
        <%})%>
        
    </ul>
    

</header>
<body>
    <br><br>
    <div id="btn">
    <form id="newCat" action="/post/ncat" method="post" >
        <button id="showInput" type="button">New Category</button>
        <div id="categoryInput" style="display: none;">
            <input id = "text" type="text" name="name">
            <br>
            <button type="submit" id="save"><strong>Save</strong></button>
            <button type="button" id="cancel"><strong>Cancel</strong></button>
        </div>
    </form>
    <br><br>
    </div>
    <a style="display:flex;justify-content: center;color:rgb(207, 202, 202)"href="/post/create">Create new post</a>
    <br><br>
    <div id="allpost">
    <% posts.forEach( (post) => { %>
                <div id="post">
                    <a id="buton" href="/post/single/<%= post._id %>">
                        <h2 id="title"> Title : <%= post.title %> </h5>
                        <p id="content"> Content : <%= post.content  %> </p>

                    </a>
                </div>
    <%})%>
    </div>
        
<script>

    function show(){
        document.getElementById("categoryInput").style.display="";
    }
    function hide(){
        document.getElementById("categoryInput").style.display="none";
    }
    document.getElementById("showInput").addEventListener("click", show);
    document.getElementById("save").addEventListener("click", hide);
    document.getElementById("cancel").addEventListener("click", hide);


    

</script>
</body>
</html>