<!DOCTYPE html>
<html>
  
<head>
    <title>
        Update page
    </title>
    <link href="./css/style.css" rel="stylesheet">        
</head>
  <body>
      <form action="/post/single/" method="post">
          <label for="title" >Title</label><br><br>
    <input id="title" type="text" " placeholder="title" name="title" required value="<%= post.title %>"><br><br>

 <label for="content" >Content</label><br><br>
    <input id="content" type="text" placeholder="content" name="content" required value="<%= post.content %>"><br><br>
 <label for="category_id">Category</label><br><br>
    <select id="category_id" name="category">
        <option disabled selected value>Choose category</option>
            <%categories.forEach(category=>{%>
        <option value="<%=category.name%>"><%=category.name%></option>
            <%})%>
</select><br><br>
<br><br>

<input style="display:none" value="<%= post._id %>" name="id">
<button id='patch'type="submit"  name="metoda" value="patch">Update your post</button>
<button id='delete'type="submit" name="metoda" value="delete">Delete your post</button>


<br><br>

</form>


</body>